.form-control {
    background-color: $white !important;
    border-color: $monochrome-300 !important;
    font-size: 1rem !important;
    
    &:focus {
        border-color: $primary-100 !important;
        box-shadow: 0 0 0 3px rgba($primary-100, 0.12) !important;
    }
    
    &::placeholder {
        color: $monochrome-400 !important;
        font-size: .875rem !important;
    }
}

.field-label {
    font-size: .875rem !important;
    color: $monochrome-500 !important;
}