html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 60px;
    @include media-breakpoint-up(md) {
      scroll-margin-top: 76px;
    }
}

main {
  overflow-x: hidden;
  min-height: calc(100vh - 60px);
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 76px);
  }
}

.vh-100-h {
  height: calc(100vh - 60px);
  @include media-breakpoint-up(md) {
    height: calc(100vh - 76px);
  }
}

.font-primary {
  font-family: $headings-font-family;
}

.font-support {
  font-family: $font-family-sans-serif;
}

.font-arabic {
  font-family: $font-family-arabic;
}

[lang="ar"] {
    font-family: $font-family-arabic !important;
}

.bi {
  line-height: 1;
  vertical-align: -0.125em;
}