$primary-100: #000063;
$primary-200: #2B2B84;
$primary-300: #5555A6;
$primary-400: #8080C7;
$primary-500: #00003D;

$secondary-100: #0075f0;
$secondary-200: #66ACF6;
$secondary-300: #99C8F9;
$secondary-400: #CCE3FC;

$tertiary-100: #174ea6;
$tertiary-200: #0F3F84;
$tertiary-300: #5C8AD6;
$tertiary-400: #0F3F84;

$monochrome-100: #ffffff;
$monochrome-200: #f2f2f2;
$monochrome-300: #bebebe;
$monochrome-400: #7e7e7e;
$monochrome-500: #55575E;
$monochrome-600: #262626;
$monochrome-700: #0d0d0d;

$info: $secondary-100;
$success: #22C55E;
$warning: #f59e0b;
$danger: #ef4444;
$white: $monochrome-100;
$light: $monochrome-200;
$dark: $monochrome-700;
$body-bg: $monochrome-200;
$body-color: $monochrome-500;
$headings-color: $primary-500;

$custom-colors: (
  'primary': $primary-100,
  'primary-100': $primary-100,
  'primary-200': $primary-200,
  'primary-300': $primary-300,
  'primary-400': $primary-400,
  'secondary': $secondary-100,
  'secondary-100': $secondary-100,
  'secondary-200': $secondary-200,
  'secondary-300': $secondary-300,
  'secondary-400': $secondary-400,
  'tertiary': $tertiary-100,
  'tertiary-100': $tertiary-100,
  'tertiary-200': $tertiary-200,
  'tertiary-300': $tertiary-300,
  'tertiary-400': $tertiary-400,
  'monochrome': $monochrome-100,
  'monochrome-100': $monochrome-100,
  'monochrome-200': $monochrome-200,
  'monochrome-300': $monochrome-300,
  'monochrome-400': $monochrome-400,
  'monochrome-500': $monochrome-500,
  'monochrome-600': $monochrome-600,
  'monochrome-700': $monochrome-700,
  'info': $info,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
) !default;


$font-family-sans-serif: 'Poppins', system-ui, -apple-system, sans-serif;
$headings-font-family: 'TexGyreAdventor', serif;
$font-family-arabic: 'NotoSansArabic', Arial, sans-serif;

$spacers: map-merge($spacers, (
  6: 6rem,
  10: 10rem
));

$border-radius: 0.5rem;
$spacer: 1rem;
$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-font-sizes: (
  7: 14px,
  8: 12px,
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  md: 768px,
  lg: 1025px,
  xl: 1280px,
  xxl: 1440px
);
$container-max-widths: (
  xxl: 1400px
);
$container-padding-x: 2rem;

$input-placeholder-color: $monochrome-400 !important;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1rem;

$input-padding-y: 0.5rem;
$input-padding-x: 1.5rem;
$input-font-size: 1rem;
