<footer class="bg-primary py-5">
    <div class="container d-flex justify-content-between align-items-center flex-column flex-md-row gap-4">
        <a class="navbar-brand" href="/" aria-label="Digital Twin Leaders Home">
          <img src="assets/logo-white.png" height="34px" alt="Digital Twin Leaders Logo">
        </a>
        <nav aria-label="Social media links">
            <app-social-media-links/>
        </nav>
        <p class="mb-0 fs-7 text-monochrome-100 text-opacity-75">&copy; 2026 Digital Twin Leaders</p>
    </div>
</footer>